*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    padding: 16px 16px 10px 16px;
    background-color: rgb(255, 253, 251);
    box-shadow: 0 0 20px 4px black;

}

.logo{
    width: 110px;
}

.Nav__Right{
    display: flex;
}

.Nav_Icons{
    display: flex;
    margin-right: 1vw;
}

.Nav_Icon{
   color: white;
   padding: 5px 6px 2px 6px;
   background-color: rgb(255, 212, 156); 
   border-radius: 100%;
   margin: 2px;
}

.Nav_SearchBar{
    display: flex;
    align-items: center;
    border-radius: 8px;
}

.SearchBox{
    background-color: rgb(238, 238, 238);
    outline: none;
    border: none;
    width: 100%;
    max-width: 280px;
    height: 5vh;
    border-radius: 8px 0 0 8px;
    padding-left: 10px;
    font-size: 14px;
}

.SearchLogo{
    background-color: rgb(238, 238, 238);
    width: 4vw;
    height: 5vh;
    border-radius: 0 8px 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    color: black;
}
