.Container{
    background-image: url(../assets/WoodWallpaper.jpg);
    background-size: cover;
    height: 100vh;
    padding:14vh 0 0 4vh;
}

.Food_Container{
    background-color: antiquewhite;
    width: 100%;
    max-width:14rem;
 
    padding: 14px;
    border-radius: 16px;
}
.Food_Image img{
    object-fit: cover;
    width: 100%;
    border-radius: 16px;
    height: 30vh;
}